@font-face {
  font-family: "Gilroy";
  src: url("./SVN-Gilroy\ Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("./SVN-Gilroy\ Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("./SVN-Gilroy\ SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("./SVN-Gilroy\ Bold.otf") format("opentype");
  font-weight: 700;
}
