.main-cart{
    padding-top:129;
    color: black;
}
.cart-title{
    font-weight:600;
    font-size: 30px;
    width: 20%;
    border-bottom: 2px solid;
    padding: 10px 0px ;
    
}
.cart-form{
    border: 2px solid #64646456;
    padding: 20px;
    border-radius: 10px;
}
.product-infor{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.product-img{
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.infor {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.name-product{
    font-size: 20px;
}
.product-price{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    font-size: 20px;
    font-weight: 600;
}
.quantity {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}
.quantity input{
    width: 60px;
    height: 20px;
}
.product-price-total{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    height: 100px;
}
.delete-product {
    height: 100px;
    display: flex;
    align-items: center;
}
.oders-price-total {
    font-size: 20px;
    font-weight: 600;
}
.oder-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.oder-btn button{
    border: 2px solid #00274a;
    padding: 10px;
    color: #000000;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.oder-btn button:hover{
    background-color:#00274a;
    color: #fff;
}